@model TaskManagementSystem.Models.Task

<h2>Task Details</h2>

<div>
    <h4>Title: @Model.Title</h4>
    <h4>Description: @Model.Description</h4>
    <h4>Due Date: @Model.DueDate.ToShortDateString()</h4>
    <h4>Status: @Model.Status</h4>
</div>
<p>
    <a asp-action="Index">Back to List</a>
</p>
