@model TaskManagementSystem.Models.Task

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subTask in Model.SubTasks)
        {
            <tr>
                <td>@subTask.Title</td>
                <td>@subTask.Description</td>
                <td>@subTask.DueDate.ToShortDateString()</td>
                <td>@subTask.Status</td>
            </tr>
        }
    </tbody>
</table>
